*{
    margin: 0;
}
.srelka{
    color: grey;
}
.kalima1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color: grey;
}
.flex1{
    height: 30px;
    align-items: end;
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.btn2{
     color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 7px 20px;
    background: none;
}
.container1{
    padding: 50px 150px;
}
.kalima2{
    text-align: center;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
}
.knop1{
    width: 300px;
    height: 600px;
    background-color: rgb(228, 228, 228);
    padding: 10px 20px;
}
.img1{
    width: 300px;
    height: 200px;
}
.kalima3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}
.text1{
    color: grey;
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text2{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}
.btn3{
    color: white;
    background-color: black;
    padding: 10px 50px;
    margin-top: 30px;
}
.knop2{
    width: 300px;
    height: 400px;
    background-color: rgb(228, 228, 228);
}
.kalima4{
    margin-left: 10px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}
.text3{
     color: grey;
    margin-top: 10px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10px;
    }
.btn4{
      color: white;
    background-color: black;
    padding: 10px 50px;
    margin-left: 10px;
    margin-top: 6px;
}
.knop3{
      width: 300px;
    height: 400px;
    background-color: rgb(228, 228, 228);
}
.flex2{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.flex3{
    display: flex;
    gap: 30px;
}
.kalima5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}
.btn5{
    color: white;
    background-color: black;
    padding: 10px 50px;
    margin-top: 20px;
}
.knop4{
    width: 630px;
    height: 189px;
    background-color: rgb(228, 228, 228);
    margin-top: 30px;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.conteiner2{
    height: 900px;
    padding: 50px 150px;
}
.text4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.text5{
    color: grey;
    line-height: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
}
.siyax{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin-bottom: 30px;
}
.btn6{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 40px;
    margin-top: 30px;
}
.flex4{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border-bottom: 1px solid grey;
    padding: 70px;
}
.imgg{
    margin-top: 50px;
}
.text90{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.text91{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
}