*{
    margin: 0;
}
.bg-img{
    width: 1605px;
    height: 850px;
    padding: 30px 150px;
    background-image: url("./background\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.srelka{
    color: orangered;
}
.kalima1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color: grey;
}
.flex1{
    height: 30px;
    align-items: end;
    display: flex;
    gap: 30px;
}
.btn1{
    color: white;
    border: none;
    background-color: orangered;
    padding: 10px 20px;
    margin-left: 600px;
}
.btn2{
     color: grey;
    border: none;
    padding: 7px 20px;
    background: none;
}
.text1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: 200px;
}
.btn3{
    background: none;
    padding: 10px 40px;
    border: 1px solid orangered;
    color: orangered;
    border-radius: 10px;
    margin-top: 50px;
}
.btn4{
      background-color: orangered;
    padding: 12px 40px;
    border: none;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.flex2{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}
.flex3{
    display: flex;
    gap: 50px; 
    justify-content: center;
    margin-top: 60px;
}
.gird{
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 50%;
    margin-top: 30px;
}
.gavs{
    font-size: 60px;
    font-weight: 700;
}
.kalima{
    margin-top: 30px;
}
.conteiner1{
     width: 1605px;
    height: 650px;
    padding: 150px 150px;
    display: flex;
    gap: 60px;
}
.kalima2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.text4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 30px 0px;
}
.who{
    margin-bottom: 10px;
}
.img4{
    margin-left: 100px;
}
.btn5{
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    margin-top: 100px;
}
.conteiner2{
      width: 1605px;
    height: 750px;
    padding: 150px 150px;
    gap: 60px;
}
.btn6{
    background: none;
    color: orangered;
    border: 1px solid orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 25px;
    border-radius: 5px;
    margin-left: 1200px;
}
.knopka1{
    display: flex;
    gap: 80px;
    width: 700px;
    height: 214px;
    box-shadow: 5px 5px 10px grey;
}
.kalima3{
    width: 70px;
    padding: 10px 20px;
    background-color: aqua;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.kalima4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.narx{
     color: orangered;
}
.text7{
    color: grey;
    margin-top: 30px;
    font-size: 17px;
}
.flex4{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}
.kalima10{
    width: 70px;
    padding: 10px 20px;
    background-color: rgb(136, 255, 0);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.kalima5{
    width: 105px;
    padding: 10px 20px;
    background-color: rgb(0, 38, 255);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.kalima6{
    width: 70px;
    padding: 10px 20px;
    background-color: rgb(208, 255, 0);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.kalima7{
    width: 70px;
    padding: 10px 20px;
    background-color: rgb(255, 0, 76);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.kalima8{
    width: 70px;
    padding: 10px 20px;
    background-color: rgb(234, 0, 255);
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}