*{
    margin: 0;
}
.bg-img{
    width: 1605px;
    height: 850px;
    padding: 30px 150px;
    background-image: url("./background\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.srelka{
    color: orangered;
}
.kalima1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color: grey;
}
.flex1{
    height: 30px;
    align-items: end;
    display: flex;
    gap: 30px;
}
.btn1{
    color: white;
    border: none;
    background-color: orangered;
    padding: 10px 20px;
    margin-left: 600px;
}
.btn2{
     color: grey;
    border: none;
    padding: 7px 20px;
    background: none;
}
.text1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: 200px;
}
.btn3{
    background: none;
    padding: 10px 40px;
    border: 1px solid orangered;
    color: orangered;
    border-radius: 10px;
    margin-top: 50px;
}
.btn4{
      background-color: orangered;
    padding: 12px 40px;
    border: none;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.flex2{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}
.flex3{
    display: flex;
    gap: 50px; 
    justify-content: center;
    margin-top: 60px;
}
.gird{
    width: 10px;
    height: 10px;
    background-color: orangered;
    border-radius: 50%;
    margin-top: 30px;
}
.gavs{
    font-size: 60px;
    font-weight: 700;
}
.kalima{
    margin-top: 30px;
}